@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #f3961c #3b141c;
}

/* Home section */

#home {
    height: 100vh;
    background: #3b141c;
}

/* Navbar*/

nav {
    padding: 15px 0 15px 20px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background: #3b141c;
    z-index: 2;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.logo h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

/* Navigation link */

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.nav-link {
    padding: 10px 25px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.nav-link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    background: #f3961c;
}

.nav-link:hover a {
    color: #3b141c;
}

/* Center text */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 85px 20px 20px;
}

.center-text {
    width: 850px;
    margin-left: 100px;
    margin-top: -40px;
}

.center-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #f3961c;
}

.center-text h3 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 0;
}

.center-text p {
    font-size: 20px;
    margin: 24px 0 40px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
}

/* image */

.image {
    margin-top: 80px;
    margin-left: -40px;
}

.image img {
    height: 550px;
    width: 550px;
}

/* buttons */

.buttons button {
    padding: 10px 28px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

/* btn 1 */

.order {
    background: #f3961c;
    border: 2px solid transparent;
    color: #3b141c;
    transition: all 0.3s ease;
}

.order:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* btn 2 */

.book {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.book:hover {
    background: #f3961c;
    border: 2px solid transparent;
    color: #3b141c;
}

/* about section */

#About {
    min-height: 50vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/* About text */

.About-text {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About-text h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

.About-text h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.About-text p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    line-height: 1.8;
}

/* About image */

.About-image {
    height: 500px;
    width: 500px;
}

.About-image img {
    height: 100%;
    width: 100%;
}

/* services section */

#Services {
    min-height: 100vh;
    background: #252525;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Services h2 {
    font-size: 32px;
    color: #fff;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Services h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

/* menu */

.menu {
    display: flex;
    gap: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
}

.menu-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
}

.menu-image {
    height: 320px;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
}

.menu-image img {
    height: 100%;
    width: 100%;
}

.menu-box h3 {
    font-size: 24px;
    margin: 20px 0;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 15px;
    text-transform: uppercase;
}

.menu-box p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

/* Why us section */

#Why-us {
    min-height: 70vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Why-us h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Why-us h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.Why-us-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 120px;
}

.Why-us-items {
    padding: 12px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Why-us-items img {
    height: 100px;
    width: 100px;
    margin: 0 0 10px;
}

.Why-us-items h3 {
    font-size: 22px;
    margin: 20px 0;
    color: #000;
    font-weight: 600;
}

.Why-us-items p {
    font-size: 17px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}

/* Gallery Section */

#Gallery {
    min-height: 60vh;
    background: #ffffff;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Gallery h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Gallery h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.gallery-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.gallery-box {
    height: 260px;
    width: 380px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-box img {
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.gallery-box img:hover {
    transform: scale(1.3);
}

/* Contact us */

#Contact {
    min-height: 100vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Contact h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Contact h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.contact-wrap {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.input-area {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 800px;
}

.input-box label {
    font-size: 17px;
    margin: 0 0 8px;
}

.input-box input {
    padding: 0 12px;
    height: 50px;
    width: 800px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 16px;
}

input:focus {
    border: 2px solid #000;
}

#Message {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 800px;
    height: 200px;
}

textarea {
    font-size: 18px;
    resize: none;
}

.Submit {
    width: 17%;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 28px;
    border-radius: 20px;
    background: #3b141c;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.Submit:hover {
    background: transparent;
    border: 2px solid #3b141c;
    color: #3b141c;
}

/* shop info */

.info {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.info-box {
    display: flex;
    flex-direction: row;
    margin: 80px 0;
    gap: 18px;
}

#box {
    margin-top: 20px;
}

.info-box i {
    font-size: 25px;
    margin: 5px 0 0;
}

.info-wrap {
    display: flex;
    flex-direction: column;
}

.info-wrap h3 {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}

.info-wrap p {
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-top: 5px;
}

/* footer */

footer {
    padding: 60px 20px;
    background: #1b1b1b;
}

.foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logo {
    height: 100%;
}

#logo h2 {
    font-size: 24px;
    letter-spacing: 1px;
}

.links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.links ul {
    list-style-type: none;
}

.links li {
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s ease;
}

.links li a:hover {
    text-decoration: underline;
}

.info-links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.info-links ul {
    list-style-type: none;
}

.info-links li {
    margin-bottom: 20px;
}

.info-links i {
    color: #fff;
    margin-right: 10px;
}

.info-links span {
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}

.social-links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.link-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link-wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.link-wrap a:hover {
    color: #ca965c;
}