* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    overflow: hidden;
}

#home {
    height: 100vh;
    background: #ca965c;
}

nav {
    padding: 15px 0 15px 20px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.logo h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.nav-link {
    padding: 10px 25px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.nav-link a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #7c4b21d1;
    transition: color 0.3s ease;
}

.nav-link:hover {
    background: #7c4b21d1;
}

.nav-link:hover a {
    color: #fff;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 85px 20px 20px;
}

.center-text {
    width: 850px;
    margin-left: 100px;
    margin-top: -40px;
}

.center-text h2 {
    font-size: 45px;
    font-weight: 700;
    color: #7c4b21d1;
}

.center-text h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 0;
}

.center-text p {
    font-size: 25px;
    margin: 24px 0 40px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
}

.image {
    margin-top: 80px;
    margin-left: -40px;
}

.image img {
    height: 550px;
    width: 550px;
}

.buttons button {
    padding: 10px 28px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 20px;
    outline: none;
}

.order {
    background: #7c4b21d1;
    border: 2px solid transparent;
    color: #fff;
    transition: all 0.3s ease;
}

.order:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.book {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.book:hover {
    background: #7c4b21d1;
    border: 2px solid transparent;
    color: #fff;
}