@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #f3961c #3b141c;
}

/* Home section */

#home {
    min-height: 100vh;
    background: #3b141c;
}

/* Navbar*/

nav {
    padding: 15px 0 15px 20px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background: #3b141c;
    z-index: 2;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.logo h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

/* Navigation link */

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.nav-link {
    padding: 10px 25px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.nav-link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    background: #f3961c;
}

.nav-link:hover a {
    color: #3b141c;
}

/* menu button */

.menu-btn {
    color: #fff;
    font-size: 30px;
    z-index: 2;
    cursor: pointer;
    display: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-btn-2 {
    color: #fff;
    font-size: 30px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.menu-btn,
.menu-btn-2 {
    position: absolute;
    right: 15px;
    transition: opacity 0.3s ease-in-out;
}

/* Center text */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 85px 20px 20px;
    width: 100%;
}

.center-text {
    width: 850px;
    margin-left: 100px;
    margin-top: -40px;
}

.center-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #f3961c;
}

.center-text h3 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin: 15px 0 0;
}

.center-text p {
    width: 550px;
    font-size: 20px;
    margin: 24px 0 40px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
}

/* image */

.image {
    margin-top: 80px;
    margin-left: -80px;
}

.image img {
    height: 550px;
    width: 550px;
}

/* buttons */

.buttons button {
    padding: 10px 28px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

/* btn 1 */

.order {
    background: #f3961c;
    border: 2px solid transparent;
    color: #3b141c;
    transition: all 0.3s ease;
}

.order:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* btn 2 */

.book {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.book:hover {
    background: #f3961c;
    border: 2px solid transparent;
    color: #3b141c;
}

/* about section */

#About {
    min-height: 50vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/* About text */

.About-text {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About-text h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

.About-text h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.About-text p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    line-height: 1.8;
}

/* About image */

.About-image {
    height: 500px;
    width: 500px;
}

.About-image img {
    height: 100%;
    width: 100%;
}

/* services section */

#Services {
    min-height: 100vh;
    background: #252525;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Services h2 {
    font-size: 32px;
    color: #fff;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Services h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

/* menu */

.menu {
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
}

.menu-image {
    height: 320px;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
}

.menu-image img {
    height: 100%;
    width: 100%;
}

.menu-box h3 {
    font-size: 24px;
    margin: 20px 0;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 15px;
    text-transform: uppercase;
}

.menu-box p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

/* Why us section */

#Why-us {
    min-height: 70vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Why-us h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Why-us h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.Why-us-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 120px;
    flex-wrap: wrap;
}

.Why-us-items {
    padding: 12px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Why-us-items img {
    height: 100px;
    width: 100px;
    margin: 0 0 10px;
}

.Why-us-items h3 {
    font-size: 22px;
    margin: 20px 0;
    color: #000;
    font-weight: 600;
}

.Why-us-items p {
    font-size: 17px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}

/* Gallery Section */

#Gallery {
    min-height: 60vh;
    background: #ffffff;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Gallery h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Gallery h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.gallery-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.gallery-box {
    height: 260px;
    width: 380px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-box img {
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.gallery-box img:hover {
    transform: scale(1.3);
}

/* Contact us */

#Contact {
    min-height: 100vh;
    background: #f2f2f2;
    padding: 60px 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Contact h2 {
    font-size: 32px;
    color: #000;
    padding: 60px 0 100px;
    font-weight: 600;
    text-transform: uppercase;
}

#Contact h2::after {
    content: '';
    width: 80px;
    background: #f3961c;
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

.contact-wrap {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.input-area {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 800px;
}

.input-box label {
    font-size: 17px;
    margin: 0 0 8px;
}

.input-box input {
    padding: 0 12px;
    height: 50px;
    width: 800px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 16px;
}

input:focus {
    border: 2px solid #000;
}

#Message {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 800px;
    height: 200px;
}

textarea {
    font-size: 18px;
    resize: none;
}

.Submit {
    width: 17%;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 28px;
    border-radius: 20px;
    background: #3b141c;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.Submit:hover {
    background: transparent;
    border: 2px solid #3b141c;
    color: #3b141c;
}

/* shop info */

.info {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.info-box {
    display: flex;
    flex-direction: row;
    margin: 80px 0;
    gap: 18px;
}

#box {
    margin-top: 20px;
}

.info-box i {
    font-size: 25px;
    margin: 5px 0 0;
}

.info-wrap {
    display: flex;
    flex-direction: column;
}

.info-wrap h3 {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
}

.info-wrap p {
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    margin-top: 5px;
}

/* footer */

footer {
    padding: 60px 20px;
    background: #1b1b1b;
}

.foot-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logo {
    height: 100%;
}

#logo h2 {
    font-size: 24px;
    letter-spacing: 1px;
}

.links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.links ul {
    list-style-type: none;
}

.links li {
    margin-bottom: 20px;
}

.links a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s ease;
}

.links li a:hover {
    text-decoration: underline;
}

.info-links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.info-links ul {
    list-style-type: none;
}

.info-links li {
    margin-bottom: 20px;
}

.info-links i {
    color: #fff;
    margin-right: 10px;
}

.info-links span {
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}

.social-links h3 {
    font-size: 22px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.link-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link-wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.link-wrap a:hover {
    color: #ca965c;
}

/* Responsiveness */

@media (max-width: 1250px) {

    /* services section */

    .menu {
        gap: 80px;
    }

    /* why-us section */

    .Why-us-wrap {
        gap: 80px;
    }
}

@media (max-width: 1218px) {

    /* home section */

    .center-text {
        margin-left: 80px;
    }
}

@media (max-width: 1200px) {

    /* services section */

    .menu {
        gap: 60px;
    }
}

@media (max-width: 1170px) {

    /* home section */

    .content {
        padding-top: 60px;
    }

    .center-text {
        width: 750px;
    }

    .center-text h2 {
        font-size: 38px;
    }

    .center-text h3 {
        font-size: 33px;
        margin-top: 13px;
    }

    .center-text p {
        font-size: 18px;
        margin-top: 22px;
    }

    .image img {
        height: 500px;
        width: 500px;
    }

    .buttons button {
        font-size: 17px;
    }

    /* about section */

    .About-text {
        width: 550px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 30px;
        padding: 40px 0 80px;
    }

    .About-text p {
        font-size: 17px;
    }

    /* services section */

    #Services,
    #Gallery {
        padding-bottom: 60px;
    }

    .menu {
        gap: 50px;
    }

    .menu-box h3 {
        font-size: 22px;
        margin: 15px 0;
    }

    .menu-box p {
        font-size: 16px;
    }

    /* why-us section */

    .Why-us-wrap {
        gap: 40px;
    }

    .Why-us-items {
        width: 280px;
        padding: 10px;
    }

    .Why-us-items h3 {
        font-size: 20px;
    }

    .Why-us-items p {
        font-size: 15px;
        width: 280px;
    }
}

@media (max-width: 1100px) {

    /* home section */

    .logo h2 {
        font-size: 26px;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .nav-link a {
        font-size: 16px;
    }

    .content {
        margin-top: 20px;
    }

    .center-text {
        width: 650px;
        margin-left: 40px;
    }

    .center-text h2 {
        font-size: 36px;
    }

    .center-text h3 {
        font-size: 31px;
        margin-top: 11px;
    }

    .center-text p {
        font-size: 17px;
        margin-top: 20px;
    }

    .image img {
        height: 450px;
        width: 450px;
    }

    .buttons button {
        font-size: 16px;
    }

    /* about section */

    .About-text {
        width: 500px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 28px;
        padding: 20px 0 60px;
    }

    .About-text p {
        font-size: 16px;
    }

    .About-image {
        height: 450px;
        width: 450px;
    }

    /* services section */

    .menu-box {
        width: 300px;
    }

    .menu-image {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 1050px) {

    /* services section */

    .menu {
        gap: 35px;
    }
}

@media (max-width: 1030px) {

    /* home section */

    .logo {
        margin-left: -40px;
    }

    .logo h2 {
        font-size: 22px;
    }

    .nav-link {
        padding: 8px 16px;
    }

    .nav-link a {
        font-size: 15px;
    }

    .content {
        margin-top: 40px;
    }

    .center-text {
        width: 600px;
        margin-left: 20px;
    }

    .center-text h2 {
        font-size: 34px;
    }

    .center-text h3 {
        font-size: 29px;
        margin-top: 10px;
    }

    .center-text p {
        font-size: 16px;
        margin-top: 18px;
    }

    .image img {
        height: 400px;
        width: 400px;
    }

    .buttons button {
        font-size: 15px;
    }

    /* about section */

    .About-text {
        width: 450px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 28px;
        padding: 20px 0 60px;
    }

    .About-text p {
        font-size: 15px;
    }

    .About-image {
        height: 400px;
        width: 400px;
    }

    /* services section */

    .menu-box {
        width: 320px;
    }

    .menu-box h3 {
        font-size: 24px;
        margin: 20px 0;
    }

    .menu-box p {
        font-size: 17px;
    }

    .menu-image {
        height: 320px;
        width: 320px;
    }

    .menu {
        width: 800px;
        gap: 80px;
    }
}

@media (max-width: 960px) {

    /* why-us section */

    .Why-us-wrap {
        width: 800px;
        gap: 70px;
    }

    .Why-us-items {
        width: 300px;
        padding: 12px;
    }

    .Why-us-items h3 {
        font-size: 22px;
    }

    .Why-us-items p {
        font-size: 17px;
        width: 300px;
    }
}

@media (max-width: 950px) {

    /* home section */

    .logo h2 {
        font-size: 20px;
    }

    .nav-link {
        padding: 8px 14px;
    }

    .nav-link a {
        font-size: 14px;
    }

    .content {
        margin-top: 60px;
    }

    .center-text {
        width: 550px;
        margin-left: 20px;
    }

    .center-text h2 {
        font-size: 32px;
    }

    .center-text h3 {
        font-size: 27px;
        margin-top: 10px;
    }

    .center-text p {
        font-size: 15px;
        margin-top: 18px;
        width: 500px;
    }

    .image img {
        height: 370px;
        width: 370px;
    }

    .buttons button {
        font-size: 14px;
    }
}

@media (max-width: 900px) {

    /* about section */

    .About-text {
        width: 400px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 26px;
    }

    .About-text p {
        font-size: 14px;
    }

    .About-image {
        height: 370px;
        width: 370px;
    }
}

@media (max-width: 850px) {

    /* menu */

    .menu-btn {
        display: block;
    }

    .menu-btn,
    .menu-btn-2 {
        right: 50px;
    }

    .navigation {
        position: absolute;
        top: 70px;
        right: -115%;
        width: 100%;
        min-height: 40vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        transition: all 0.5s ease;
    }

    .navigation.active {
        right: -5%;
        transition: all 0.5s ease;
    }

    /* home section */

    nav {
        justify-content: space-between;
    }

    .logo {
        margin-left: 0;
    }

    .logo h2 {
        font-size: 32px;
    }

    .nav-link {
        padding: 10px 25px;
    }

    .nav-link a {
        color: #3b141c;
        font-size: 18px;
    }

    .center-text {
        width: 500px;
        margin-left: 20px;
    }

    .center-text h2 {
        font-size: 30px;
    }

    .center-text h3 {
        font-size: 25px;
        margin-top: 10px;
    }

    .center-text p {
        font-size: 14px;
        margin-top: 18px;
        width: 550px;
    }

    .image img {
        height: 350px;
        width: 350px;
    }

    .buttons button {
        font-size: 13px;
    }
}

@media (max-width: 810px) {

    /* home section */

    .content {
        flex-direction: column-reverse;
    }

    .content {
        padding-top: 85px;
    }

    .center-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 750px;
        margin: -40px 30px 0 0;
    }

    .center-text h2 {
        font-size: 40px;
    }

    .center-text h3 {
        font-size: 35px;
        margin-top: 10px;
    }

    .center-text p {
        font-size: 20px;
        margin-top: 15px;
        text-align: center;
    }

    .image {
        margin: 0;
    }

    .image img {
        height: 350px;
        width: 350px;
    }

    .buttons button {
        font-size: 18px;
    }

    /* About section */

    #About {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .About-text {
        width: 600px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 32px;
        padding: 40px 0 80px;
    }

    .About-text p {
        font-size: 18px;
    }

    .About-image {
        height: 500px;
        width: 500px;
    }

    /* services section */

    .menu-box h3 {
        font-size: 22px;
        margin: 15px 0;
    }

    .menu-box p {
        font-size: 16px;
    }

    .menu {
        width: 800px;
        gap: 50px;
    }
}

@media (max-width: 770px) {

    /* services section */

    .menu-box {
        width: 320px;
    }

    .menu-box h3 {
        font-size: 20px;
    }

    .menu-box p {
        font-size: 15px;
    }

    .menu {
        gap: 40px;
    }

    /* why-us section */

    .Why-us-wrap {
        gap: 30px;
    }

    .Why-us-items {
        width: 280px;
        padding: 10px;
    }

    .Why-us-items h3 {
        font-size: 20px;
    }

    .Why-us-items p {
        font-size: 15px;
        width: 280px;
    }
}

@media (max-width: 750px) {

    /* home section */

    .center-text {
        width: 650px;
    }
}

@media (max-width: 730px) {

    /* services section */

    .menu-box {
        width: 300px;
    }

    .menu-box h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    .menu-box p {
        font-size: 14px;
    }

    .menu-image {
        height: 300px;
        width: 300px;
    }

    /* why-us section */

    .Why-us-wrap {
        gap: 20px;
    }
}

@media (max-width: 680px) {

    /* services section */

    .menu {
        gap: 35px;
    }

    .menu-box {
        width: 280px;
    }

    .menu-box h3 {
        font-size: 17px;
    }

    .menu-box p {
        font-size: 13px;
    }

    .menu-image {
        height: 280px;
        width: 280px;
    }

    /* why-us section */

    .Why-us-wrap {
        gap: 30px;
        width: 350px;
    }

    .Why-us-items {
        width: 320px;
        padding: 12px;
    }

    .Why-us-items h3 {
        font-size: 22px;
    }

    .Why-us-items p {
        font-size: 17px;
        width: 320px;
    }
}

@media (max-width: 650px) {

    /* home section */

    .center-text {
        width: 550px;
    }

    .center-text h2 {
        font-size: 38px;
    }

    .center-text h3 {
        font-size: 33px;
    }

    .center-text p {
        font-size: 19px;
        margin: 15px 0 20px;
    }

    .buttons button {
        font-size: 17px;
    }

    /* About section */

    .About-text {
        width: 550px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 30px;
        padding: 20px 0 60px;
    }

    .About-text p {
        font-size: 17px;
    }

    .About-image {
        height: 450px;
        width: 450px;
    }
}

@media (max-width: 640px) {

    /* services section */

    .menu {
        gap: 40px;
        width: 400px;
    }

    .menu-box {
        width: 320px;
    }

    .menu-box h3 {
        font-size: 24px;
    }

    .menu-box p {
        font-size: 17px;
    }

    .menu-image {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 570px) {

    /* home section */

    .center-text {
        width: 450px;
    }

    .center-text h2 {
        font-size: 34px;
    }

    .center-text h3 {
        font-size: 27px;
    }

    .center-text p {
        font-size: 18px;
        width: 500px;
    }

    .buttons button {
        font-size: 16px;
        padding: 10px 20px;
    }

    /* About section */

    #About {
        padding-bottom: 40px;
    }

    .About-text {
        width: 500px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 28px;
    }

    .About-text p {
        font-size: 16px;
    }

    .About-image {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 510px) {

    /* About section */

    #About {
        padding-top: 40px;
    }

    .About-text {
        width: 450px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 26px;
    }

    .About-text p {
        font-size: 15px;
    }

    .About-image {
        height: 350px;
        width: 350px;
    }

    /* services section */

    #Services {
        padding-top: 40px;
    }
}

@media (max-width: 480px) {

    /* home section */

    .logo h2 {
        font-size: 26px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .menu-btn,
    .menu-btn-2 {
        font-size: 25px;
    }

    .center-text {
        width: 400px;
    }

    .center-text h2 {
        font-size: 32px;
    }

    .center-text h3 {
        font-size: 24px;
    }

    .center-text p {
        font-size: 17px;
        width: 440px;
    }

    .buttons button {
        font-size: 15px;
    }

    .image img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 470px) {

    /* About section */

    .About-text {
        width: 400px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 24px;
        padding: 20px 0 60px;
    }

    .About-text p {
        font-size: 14px;
    }

    .About-image {
        height: 300px;
        width: 300px;
    }

    /* Gallery section */

    .gallery-box {
        height: 250px;
        width: 350px;
    }
}

@media (max-width: 450px) {

    /* home section */

    .logo h2 {
        font-size: 22px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .menu-btn,
    .menu-btn-2 {
        font-size: 20px;
    }

    .center-text {
        width: 380px;
    }

    .center-text h2 {
        font-size: 28px;
    }

    .center-text h3 {
        font-size: 22px;
    }

    .center-text p {
        font-size: 15px;
        width: 400px;
    }

    .buttons button {
        font-size: 14px;
    }
}

@media (max-width: 430px) {

    /* home section */

    .image img {
        height: 330px;
        width: 330px;
    }

    /* About section */

    .About-text {
        width: 370px;
    }

    .About-text h2,
    #Services h2,
    #Why-us h2,
    #Gallery h2 {
        font-size: 22px;
        padding: 0 0 40px;
    }

    .About-image {
        height: 330px;
        width: 330px;
    }
}

@media (max-width: 410px) {

    /* services section */

    .menu-box {
        width: 300px;
    }

    .menu-box h3 {
        font-size: 22px;
    }

    .menu-box p {
        font-size: 16px;
    }

    .menu-image {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 400px) {

    /* home section */

    .center-text {
        width: 350px;
    }

    .center-text h2 {
        font-size: 26px;
    }

    .center-text h3 {
        font-size: 20px;
    }

    .center-text p {
        font-size: 15px;
        width: 350px;
    }

    .buttons button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .image img {
        height: 300px;
        width: 300px;
    }

    /* About section */

    .About-text {
        width: 350px;
    }

    /* Gallery section */

    .gallery-wrap {
        gap: 30px;
    }

    .gallery-box {
        height: 230px;
        width: 330px;
    }
}

@media (max-width: 370px) {

    /* home section */

    .menu-btn,
    .menu-btn-2 {
        right: 40px;
    }

    .center-text {
        width: 320px;
    }

    .center-text h2 {
        font-size: 24px;
    }

    .center-text h3 {
        font-size: 18px;
    }

    .center-text p {
        font-size: 13px;
        width: 300px;
    }

    .buttons button {
        font-size: 13px;
        padding: 6px 12px;
    }

    /* About section */

    .About-text {
        width: 290px;
    }

    /* services section */

    .menu-box {
        width: 280px;
    }

    .menu-box h3 {
        font-size: 20px;
    }

    .menu-box p {
        font-size: 15px;
    }

    .menu-image {
        height: 280px;
        width: 280px;
    }

    /* Gallery section */

    .gallery-box {
        height: 200px;
        width: 300px;
    }
}

@media (max-width: 350px) {

    /* why-us section */

    .Why-us-wrap {
        gap: 20px;
        width: 300px;
    }

    .Why-us-items {
        width: 300px;
        padding: 10px;
    }

    .Why-us-items h3 {
        font-size: 20px;
    }

    .Why-us-items p {
        font-size: 15px;
        width: 280px;
    }
}

@media (max-width: 330px) {

    /* Gallery section */

    .gallery-box {
        height: 180px;
        width: 280px;
    }
}